/*!*******************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!./css/styles.css ***!
  \*******************************************************************/
.container {
    margin: 20 auto;
    max-width: 1280px;
    width: 90%;
}
 
.delete-item:hover {
    cursor: pointer;
}
.header-text{
    font-size: 3rem;
}
.btn{
    width: 7.5rem;
    margin-left: 1rem;
}

